body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

section {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.next-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

.next-btn:hover {
    background-color: #0056b3;
}

aside {
    border-right: 1px solid #ddd;
    padding: 10px;
    background-color: gainsboro;
    height: 100vh;
    position: fixed;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: #007bff;
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
}

.completed {
    color: green;
    font-weight: bold;
}
.completion-indicator {
    color: green;
    margin-left: 5px;
}

.completed a {
    text-decoration: line-through; /* Example effect for completed lessons */
}